In [ ]:
#  to install yfinance for the project
pip install -q yfinance

In [ ]:
# I thought seaborn was not yet installed ><
pip install seaborn

In [ ]:
pip install pandas-datareader

In [21]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")    

%matplotlib inline

#To read stock data from Yahoo!
from pandas_datareader.data import  DataReader #Install this module
import yfinance as yf

from pandas_datareader import data as pdr

yf.pdr_override()

#For time stamps
import datetime as datetime

#The tech stocks we weill use for analysis
tech_list= ['AAPL', 'GOOG', 'MSFT', 'AMZN', 'TSLA']

#Set up end and start times for the data grab
end = datetime.datetime.now()
# endtime=datetime.datetime.now()
start_time=datetime.datetime(end.year-1, end.month, end.day)

#To dispplay the data in a list.
for stock in tech_list:
    globals()[stock]= yf.download(stock, start_time, end)

company_list=[AAPL,GOOG, MSFT, AMZN, TSLA]
company_name= ['APPLE','GOOGLE', 'MICROSOFT', 'AMAZON', 'TSLA']


for company_name, com_name in zip(company_list, company_name):
    company_name["company_name"]=com_name
    
df=pd.concat(company_list,axis=0)
df.tail(10)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

                  Open        High  ...     Volume  company_name
Date                                ...
2023-10-19  225.949997  230.610001  ...  170772700          TSLA
2023-10-20  217.009995  218.860001  ...  137734000          TSLA
2023-10-23  210.000000  216.979996  ...  150683400          TSLA
2023-10-24  216.500000  222.050003  ...  118231100          TSLA
2023-10-25  215.880005  220.100006  ...  107065100          TSLA
2023-10-26  211.320007  214.800003  ...  115112600          TSLA
2023-10-27  210.600006  212.410004  ...   94881200          TSLA
2023-10-30  209.279999  210.880005  ...  136448200          TSLA
2023-10-31  196.119995  202.800003  ...  118068300          TSLA
2023-11-01  204.039993  205.990005  ...  121295000          TSLA

[10 rows x 7 columns]

In [26]:
import yfinance as yf
import pandas as pd

tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN', 'TSLA']
start_time = '2023-01-01'  # Replace with your desired start date
end = '2023-12-31'  # Replace with your desired end date

company_data = {}

for stock in tech_list:
    data = yf.download(stock, start=start_time, end=end)
    company_data[stock] = data

company_name = ['APPLE', 'GOOGLE', 'MICROSOFT', 'AMAZON', 'TSLA']

for stock, com_name in zip(tech_list, company_name):
    company_data[stock]["company_name"] = com_name
 
df=pd.concat(company_list,axis=1)
df.tail(10)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

                  Open        High  ...     Volume  company_name
Date                                ...
2023-10-19  176.039993  177.839996  ...  170772700          TSLA
2023-10-20  175.309998  175.419998  ...  137734000          TSLA
2023-10-23  170.910004  174.009995  ...  150683400          TSLA
2023-10-24  173.050003  173.669998  ...  118231100          TSLA
2023-10-25  171.880005  173.059998  ...  107065100          TSLA
2023-10-26  170.369995  171.380005  ...  115112600          TSLA
2023-10-27  166.910004  168.960007  ...   94881200          TSLA
2023-10-30  169.020004  171.169998  ...  136448200          TSLA
2023-10-31  169.350006  170.899994  ...  118068300          TSLA
2023-11-01  171.000000  174.229996  ...  121295000          TSLA

[10 rows x 35 columns]